# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'sysj'
      'submenu': [
        {
          'label': 'Compile'
          'command': 'sysj:compile'
        },
        {
            'label': 'Run'
            'command': 'sysj:run'
        },
        {
            'label': 'Create new project'
            'command': 'sysj:create'
        },
        {
            'label': 'Compile all'
            'command': 'sysj:compile all'
        },
        {
            'label': 'Organise'
            'command': 'sysj:organise'
        }
      ]
    ]
  }
]
